---
import Card from "../ui/Card";
---

<section id="porque-seo" class="reveal bg-transparent py-24 px-6 mb-32 max-w-7xl mx-auto">
  <div class="max-w-3xl mb-20">
    <h2 class="font-title hero-heading-line hero-heading-bold text-slate-mid mt-3 text-4xl md:text-5xl">
      <span class="block hero-heading-line">Porque SEO é o ativo</span>
      <span class="block hero-heading-line">mais valioso do seu negócio?</span>
    </h2>
    <p class="font-sans font-light text-base text-slate-mid leading-relaxed mt-4">
      Com maior independência, diminuição de CAC (Custo de aquisição) e Audiência qualificada para o seu site, entenda como SEO é um ponto chave para seu crescimento
    </p>
  </div>

    <div class="mt-14 md:mt-20 mb-20 grid grid-cols-1 md:grid-cols-3 gap-8">
      <Card>
      <h3 class="font-title text-slate-mid font-bold text-[22px]">ROl exponencial</h3>
        <p class="font-sans font-light text-base text-slate-mid leading-relaxed mt-3">
          SEO garante um dos maiores retornos de investimento, através dos acessos totalmente orgânicos de usuários qualificados para compra
        </p>
      </Card>
      <Card>
      <h3 class="font-title text-slate-mid font-bold text-[22px]">Autoridade</h3>
        <p class="font-sans font-light text-base text-slate-mid leading-relaxed mt-3">
          Se seu site não aparece nas buscas orgânicas e não é citado pelas IAs, você não existe na visão de muitos potenciais consumidores da sua marca
        </p>
      </Card>
      <Card>
      <h3 class="font-title text-slate-mid font-bold text-[22px]">Independência</h3>
        <p class="font-sans font-light text-base text-slate-mid leading-relaxed mt-3">
          Com uma estratégia integrada com outros canais e com a alta do CPC, o SEO te permite ganhar acessos sem depender de verba para aparecer
        </p>
      </Card>
    </div>

  <div class="mt-16 md:mt-20 grid grid-cols-2 md:grid-cols-4 gap-6 text-sm uppercase">
    <div class="p-4 text-center">
      <div class="font-title text-slate-mid font-bold text-lg text-center">+200% ROI</div>
      <p class="font-sans font-light text-sm text-slate-mid mt-2 text-center">Retorno acumulado</p>
    </div>
    <div class="p-4 text-center">
      <div class="font-title text-slate-mid font-bold text-lg text-center">10k Leads</div>
      <p class="font-sans font-light text-sm text-slate-mid mt-2 text-center">Gerados / ano</p>
    </div>
    <div class="p-4 text-center">
      <div class="font-title text-slate-mid font-bold text-lg text-center">3.4x</div>
      <p class="font-sans font-light text-sm text-slate-mid mt-2 text-center">Crescimento organico</p>
    </div>
    <div class="p-4 text-center">
      <div class="font-title text-slate-mid font-bold text-lg text-center">90 dias</div>
      <p class="font-sans font-light text-sm text-slate-mid mt-2 text-center">Para tracao</p>
    </div>
  </div>
</section>
